scikit-learn
scipy

langchain
langchain-core
langchain-community
langchain-groq
langchain-openai
langchain-huggingface
langchain-text-splitters
langchain-mcp-adapters
langchain-tavily
langgraph
langgraph-prebuilt

tavily-python

mcp
mcp-cli
a2a-sdk

groq 
openai
faiss-cpu

transformers 
sentence-transformers
torch

youtube-transcript-api

fastapi
uvicorn[standard]
pydantic 
pydantic-settings
httpx
sse-starlette

streamlit
streamlit-extras

requests

pytest
pytest-asyncio
pydantic

python-dotenv