langchain
langchain-core
langchain-community
langchain-groq
langchain-openai
langchain-huggingface
langchain-text-splitters
langchain-mcp-adapters
langgraph

mcp
mcp-cli
groq 
openai

transformers 
sentence-transformers
torch

youtube-transcript-api

fastapi
uvicorn[standard]
pydantic 
pydantic-settings
requests
httpx
sse-starlette

streamlit
streamlit-extras

loguru
pytest
pytest-asyncio

python-dotenv