scikit-learn
scipy

langchain
langchain-core
langchain-community
langchain-groq
langchain-openai
langchain-huggingface
langchain-text-splitters
langchain-mcp-adapters
langchain-tavily
langgraph

tavily-python

mcp
mcp-cli
groq 
openai
faiss-cpu

transformers 
sentence-transformers
torch

youtube-transcript-api

fastapi
uvicorn[standard]
pydantic 
pydantic-settings
requests
httpx
sse-starlette

streamlit
streamlit-extras

requests

pytest
pytest-asyncio

python-dotenv